<div class="container">
    <header>
        <div class="row">
            <div class="three columns">
                <h1><a href="/">HarmonyHub</a></h1>
            </div>
            <div class="nine columns">
                <nav>
                    <a href="/views/forum.handlebars">Forum</a> |
                    <a href="/categories">Categories</a> |
                    {{#if logged_in}}
                        <a href="/views/profile.handlebars">Profile</a> |
                        <button class="no-button" id="logout">Logout</button>
                    {{else}}
                    {{/if}}
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="twelve columns">
                <h2>Forum</h2>
                <ul class="forum-posts">
                    {{#each forumPosts}}
                        <li>
                            <h3>{{this.title}}</h3>
                            <p><strong>Author:</strong> {{this.author}}</p>
                            <p>{{this.content}}</p>
                        </li>
                    {{/each}}
                </ul>
                <div class="pagination">
                    <a href="/forum?page=1">Harmony Plaza</a>
                    <a href="/forum?page=2">Music Theories</a>
                    <a href="/forum?page=3">Instrumental Insights</a>
                </div>
            </div>
        </div>
    </main>
</div>
{{#if logged_in}}
    <script src="/public/js/forum.js"></script>
{{/if}}
