<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="my-3">Forum</h2>
            <ul class="list-group mb-3">
                {{#each forumPosts}}
                    <li class="list-group-item">
                        <h3 class="mb-1">{{forumPosts.title}}</h3>
                        <p class="mb-1"><strong>Author:</strong> {{forumPosts.author}}</p>
                        <p class="mb-1">{{forumPosts.content}}</p>
                    </li>
                {{/each}}
            </ul>
            <nav aria-label="Forum pages">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="/forum?page=1">Harmony Plaza</a></li>
                    <li class="page-item"><a class="page-link" href="/forum?page=2">Music Theories</a></li>
                    <li class="page-item"><a class="page-link" href="/forum?page=3">Instrumental Insights</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{{#if logged_in}}
    <script src="/public/js/forum.js"></script>
{{/if}}
