<body>
    <main>
        <div class="card align-items-center">
            <div class="card-header">
                <h2>Forum</h2>
            </div>
            

            <ul class="forum-posts">
                {{#each forumPosts}}
                    <li>
                        <h3>{{this.title}}</h3>
                        <p><strong>Author:</strong> {{this.author}}</p>
                        <p>{{this.content}}</p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </main>
    <footer>
    </footer>
    {{#if logged_in}}
        <script src="/public/js/script.js"></script>
    {{/if}}
</body>
</html>
