<link rel="stylesheet" href="/css/login.css">

<div id="login-container" class="container">
    <div id="login-form" class="form-container border bg-light p-5 rounded" style="width: 500px;">
        <div class="header text-center pb-3">
            <h2 class="font-weight-bold text-primary">HarmonyHub</h2>
        </div>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="usernameOrEmail">Username or Email:</label>
                <input class="form-control" type="text" id="username-email" name="usernameOrEmail" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <button id="login-button" type="submit" class="btn btn-primary btn-block">Login</button>
            <a id="register-button" href="/register" class="btn btn-light btn-block">Register</a>
            {{#if noUser}}
            <p class="text-danger">User does not exist. Please register a new account.</p>
            {{/if}}
            {{#if incorrectPassword}}
            <p class="text-danger">Incorrect password. Please try again.</p>
            {{/if}}
        </form>
    </div>
</div>
<script src="/js/login.js"></script>