<body>
    <div class="container py-5">
        <h2 class="mb-4">Edit Profile</h2>
        <div class="card">
            <div class="card-header">
                <h3 class="username">{{User.username}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="{{User.avatar}}" alt="Profile Picture" class="img-thumbnail">
                        <button class="btn btn-primary mt-3">Select Profile Picture</button>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="about-me">{{User.bio}}</label>
                            <textarea id="about-me" name="about-me" rows="4" class="form-control"></textarea>
                        </div>
                        <button id="save-btn" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <script src="/js/profiles.js"></script>