<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profiles.css">
</head>
<body>
    <div class="container">
        <h2>Edit Profile</h2>
        <div class="profile-info">
            <div class="profile-header">
                <h3 class="username">Dynamic Username</h3>
            </div>
            <div class="profile-picture-container">
                <img src="/img/genericprofilepic.jpg" alt="Profile Picture" class="profile-picture">
                <button class="select-photo-btn">Select Profile Picture</button>
            </div>
            <div class="about-me">
                <label for="about-me">Biography</label>
                <textarea id="about-me" name="about-me" rows="4" cols="50"></textarea>
            </div>
            <button id="save-btn">Save</button>
        </div>
    </div>  
    <script src="/js/profiles.js"></script>
</body>
</html>