/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    padding: 0;
    background-color: #e8f0fe;
} */

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

/* 
.login-group {
    margin-bottom: 15px;
}

.login-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #0056b3;
}

.warning {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

#register-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#register-button:hover {
    background-color: #d9d9d9;
} */